snippet author "author eg@gaute.vetsj.com"
Author: Gaute Hope (eg@gaute.vetsj.com) (c) `!v strftime('%Y-%m-%d')`
endsnippet

snippet author "author gaute.hope@met.no"
Author: Gaute Hope (gaute.hope@met.no) (c) `!v strftime('%Y-%m-%d')`
endsnippet

